@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

body {
  font-family: "Rubik", sans-serif;
}

html, body {
  height: 100%;
}

#__next {
  height: 100%;
}
